name: Automated DNS Recon

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  dns-recon:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Subfinder
        run: |
          sudo apt update
          sudo apt install -y wget unzip
          wget https://github.com/projectdiscovery/subfinder/releases/latest/download/subfinder_linux_amd64.zip
          unzip subfinder_linux_amd64.zip
          sudo mv subfinder /usr/local/bin/

      - name: Run DNS Recon
        run: |
          mkdir -p output
          subfinder -d squidsecure.ovh -silent > output/subdomains.txt

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: dns-recon-results
          path: output/subdomains.txt
